{% extends 'base.html.twig' %}
{% block path %}<a class="btn btn-primary" href="{{ path('category_new') }}">Создать новую категорию</a>{% endblock %}
{% block body %}
    <h1>Просмотр категории <small>({{ category.id }})</small></h1>

    <h3>
        {{ category.name }}
    </h3>
    <p>
        {{ form_start(delete_form) }}
        <a class="btn btn-info" href="{{ path('category_edit', { 'id': category.id }) }}">Редактировать</a>
        <input class="btn btn-danger" type="submit" value="Удалить">
        {{ form_end(delete_form) }}
    </p>
    <hr>
    <p>
        <a class="btn btn-success" href="{{ path('category_index') }}">К списку категорий</a>
    </p>
{% endblock %}
